::-webkit-input-placeholder {
    text-align: center;
 }

html{ height: 100%; width: 100%; margin: 0; }

body{
    min-height: 100%; width: 100%; margin: 0;
    overflow:auto;
}

/* header */
#header {
    width: 100%;
    height: 10%;
    box-shadow: 0 2px 2px -2px gray;
    background-color: #E8EFF7;
}

#home-button-top{border-bottom: 3px solid #186AA5;}

#home-button-top, #datas-button-top{
    margin: 0; 
    height: 100%; 
}

header div > * {
    margin: 10px;
}

#register-button-top{
    color: white;
}

#enter-button-top{
    border: 1px solid #186AA5;
    width: 100px;
}

#logoimg {
    height: 100px;
    width: 100px;
}

#sidenav-button{
    display: none;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #186AA5;
    margin: 6px 0;
    transition: 0.4s;
  }
  
.sidenav-opened .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
.sidenav-opened .bar2 {opacity: 0;}
  
.sidenav-opened .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

/* main section */
#main{
    top: 10%;
    bottom: 0px;
    left: 0px;
    right: 300px;
    position: absolute;
}
.cards-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 20px;
    justify-content: space-around;
    padding: 20px;
    justify-items: center;
    overflow: auto;
}

.card-container{
    height: 100%;
    width: 100%;
    padding-bottom: 56.25%;
}

.card{
    width: 100%;
    height: 100%;
    /* padding-top: 56.25%; */
    /* border: 2px dashed red; */
}


/* sidebar */
#sidebar{
    background-color: #186AA5;
    color: white;
    padding: 20px;
    text-align: right;
    width: 300px;
    position: fixed;
    right: 0px;
    top: 10%;
    height: 100%;
}

#sidebar h4 {
    text-align: center;
}



/* footer */
#footer{
    display: none;
}

@media screen and (max-width: 600px) {
    #main{
        bottom: 5%;
        right: 0px;
        grid-template-columns: 1fr;
    }

    #sidebar{
        width: 0px;
        padding: 0px;
        overflow: hidden; 
        left: 0px; 
        z-index: 1;
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    #enter-button-top{display: none;}

    #datas-button-top{display: none;}

    #home-button-top{display: none;}

    #register-button-top{display: none;}

    #sidenav-button{display: inline;}

    #footer{
        display: flex;
        height: 5%;
    }

    .cards-section{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card-container{
        height: 100%;
        width: 100%;
        padding-bottom: 56.25%;
    }
  }