#header {
    padding: 10px;
    width: 100%;
    box-shadow: 0 4px 2px -2px gray;
}

header div {
    height: 70px;
    
}

header div > * {
    margin: 10px;
}
#logoimg {
    height: 100px;
    width: 100px;
}